<body>
  <div class="sessions-show-container">

    <div class="show_messges_box">
    </div>

    <div class="show_box">
      <div class="taitle"><h5>aaaaaa</h5></div>
      <div class="myProfile_row">
      
      <img src="<%= current_user.image %>" alt="LINEプロフィール画像" class="myProfile_image">
        <div class="myName"><%= current_user.name %></div>
      </div>
    
    </div>
      

  </div>
</body>
