<body>
  <div class="sessions-show-container">

    <div class="show_messges_box">
    </div>

    <div class="show_box">
      <h5>aaaaa</h5>
      <div class="myProfile_row">
        <img src="<%= current_user.image %>" alt="LINEプロフィール画像" class="myProfile_image" style="margin-top: 40%;">
        <div class="myName"><%= current_user.name %></div>
      </div>
      
  </div>
</body>
