<%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<div class="sessions-new-container_message">
  <div class="sessions-new-box_message">
    <%= image_tag "logo.png", class: "site-logo" %>
    <div class="thank_you">
      <p class="indent-text">ありがとうございます</p>
      <p>アカウントの登録が完了しました</p>
    </div>
    <%= button_to "マイページ", mypage_path, method: :get, class: "btn btn-primary" %>
  </div>
</div>