/* スマホ用フォントサイズ */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px; 
  }
}

/*全体中央よせ*/
.sessions-show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  padding: 20px; /* ボックスの影や余白に対応 */
  box-sizing: border-box; /* paddingを含めたサイズ計算 */
  flex-direction: column; /* 🔹 縦方向に配置 */
}

@media screen and (max-width: 480px) {
  .sessions-show-container {
    padding: 5px;
  }
}

/**/
/*LINE送信URLbox*/
.show_messges_box {
  background-color: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 350px; /* 最大でも400pxまで広がるようにする */
  /*height: auto; /*これが親コンテナにあることによって中にある要素が自動で小さくなったり大きなったりする。画面が小さくなれば自動でなくなったりもする*/
  max-height: 650px;
  display: flex; /* 🔹 フレックスボックスを使用 */
  flex-direction: column; /* 🔹 縦方向に配置 */
  justify-content: flex-start; /* 🔹 縦方向の中央配置 */
  box-sizing: border-box;
  margin-bottom: 40px;
}
/*送信ボタン*/
.hare_line_button {
  width: 94%; /* 🔹 幅を親要素の100%に */
  display: flex; /* 🔹 フレックスボックスを適用 */
  justify-content: center; /* 🔹 テキストを中央揃え */
  margin: auto; /* 🔹 横方向の中央配置 */
  background-color: #57d857; /* 🔹 薄緑色 */
  color: white; /* 🔹 フォントの色を白 */
  border: none; /* 🔹 ボーダーを削除 */
  border-radius: 5px; /* 🔹 角を丸く */
  cursor: pointer; /* 🔹 ホバー時にカーソルをポインターに */
  padding: 10px;
}
/*送信メッセージ*/
.share_message_label {
  margin: 15px auto;
  font-size: 14px; 
}
/*送信URL*/
.share_url {
  width: 94%;
  min-height: 55px;
  display: flex; /* 🔹 フレックスボックスを適用 */
  text-align: left;/*文字左よせ*/
  align-items: center; /*上下中央よせ*/
  background-color: #c6cbc6; /* 🔹 薄緑色 */
  color: rgb(4, 4, 4); /* 🔹 フォントの色を白 */
  border: none; /* 🔹 ボーダーを削除 */
  border-radius: 5px; /* 🔹 角を丸く */
  cursor: pointer; /* 🔹 ホバー時にカーソルをポインターに */
  padding: 10px;
  margin: 0 auto 5px auto; 
  white-space: nowrap; /* 改行しない */
  overflow: hidden; /* 隠す */ 
}
/*スマホ用LINE送信URLbox*/
@media screen and (max-width: 480px) {
  .how_messges_box {
    width: 100%;
    max-width: 340px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
}

/*プロフィールbox*/
.show_box {
  background-color: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 350.2px; /* 最大でも400pxまで広がるようにする */
  /*height: auto; /*これが親コンテナにあることによって中にある要素が自動で小さくなったり大きなったりする。画面が小さくなれば自動でなくなったりもする*/
  max-height: 650px;
  display: flex; /* 🔹 フレックスボックスを使用 */
  flex-direction: column;
  box-sizing: border-box;
}
/*スマホ用プロフィールbox*/
@media screen and (max-width: 480px) {
  .show_box {
    width: 100%;
    max-width: 340px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }
}
/*イメージbox*/
.myProfile_row{
  display: flex; /* 横並びにする */
  align-items: center; /* 縦中央に揃える！ */
  gap: 20px; /* 画像と名前の間にスペース */
  margin-bottom: 4px; 
  justify-content: flex-start;
}
/*ページタイトル*/
.taitle{
  margin-bottom: 20px;
}
/* 画像の隣にIDと名前を縦並びで置く */
.myProfile_texts{
  flex-direction: column; /*縦に並べる*/
}

/*自分の写真*/
.myProfile_image {
  width: 130px;  /* 画像の幅 */
  height: 130px; /* 画像の高さ */
  border-radius: 50%; /* 🔹 画像を円形にする */
}
/*スマホ用写真*/
@media screen and (max-width: 480px) {
  .myProfile_image {
    width: 120px;
    height: 120px;
  }
}
/* 生年月日 */
.my_label {
  font-size: 14px; 
  margin-top: 30px;
  margin-bottom: 4px; /* ラベルの下だけちょっと余白 */
}
/* 恋人 */
.my_girlfriend {
  margin-top: 35px;
  margin-bottom: 3px;
}