.sessions-new-container_message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  padding: 20px; /* ボックスの影や余白に対応 */
  box-sizing: border-box; /* paddingを含めたサイズ計算 */
}

/* 四角いコンテナ（ボタンが中央に来るよう調整） */
.sessions-new-box_message {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  width: 35%;
  max-width: 400px; /* 最大でも400pxまで広がるようにする */
  min-width: 280px; /* 最低でも280pxは確保（狭すぎ防止） */
  min-height: 40vh;/* 最低限の高さを確保して見た目を整える */
  height: auto; /*これが親コンテナにあることによって中にある要素が自動で小さくなったり大きなったりする。画面が小さくなれば自動でなくなったりもする*/
  max-height: 750px;
  display: flex; /* 🔹 フレックスボックスを使用 */
  flex-direction: column; /* 🔹 縦方向に配置 */
  justify-content: center; /* 🔹 縦方向の中央配置 */
  
}

.site-logo {
  width: 50px;  /*ロゴの横幅*/
  height: auto;  /* 高さを自動調整 */
  display: block; /* marginの調整が効きづらいのでblock*/
  margin: 0 auto; /*中央揃え*/
}

.thank_you {
  margin: 10% auto 0; 
  text-align: center;/*テキスト中央揃え*/
}

.btn.btn-primary{
  width: 90%; /* 🔹 幅を親要素の70%に */
  max-width: 400px;
  min-width: 150px;
  display: flex; /* 🔹 フレックスボックスを適用 */
  justify-content: center; /* 🔹 テキストを中央揃え */
  margin: auto; /* 🔹 横方向の中央配置 */
  background-color: #b2d8b2; /* 🔹 薄緑色 */
  color: white; /* 🔹 フォントの色を白 */
  border: none; /* 🔹 ボーダーを削除 */
  border-radius: 5px; /* 🔹 角を丸く */
  cursor: pointer; /* 🔹 ホバー時にカーソルをポインターに */
  position: relative;
  margin-top: 24px;
  padding: 10px;
  
}